
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway|Spectral");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  font-family: 'Spectral', serif;
}

a.navbar-brand {
  margin-left: 3px;
  // color: #0080ff;
  font-size: 40px;
}

.navbar-light .navbar-brand {
    color: #000080;
}

.list {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  margin-bottom: 5px;
  height: 0;
  overflow: hidden;
  }

.responsiveCal iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #cecece;
}
